.header {
    width: 100%;
    padding: 20px;
    background-color: #bc03ff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navList {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navItem {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.link {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.active {
    color: rgb(228, 204, 251);
}