body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  color: white;
  font-size: 16px;
  background-color: #020516f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: white;
  background-color: #1e3089;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: #6279f1;
    transform: scale(1.05);
  }
}