.wrapper {
    padding: 20px 40px;
}

.title {
    padding-bottom: 20px;
    font-size: 36px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.castItem {
    border: solid 1px black;
    width: 200px;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
}

.castImg {
    border-radius: 8px;
    object-fit: cover;
}

.castTitle {
    font-size: 22px;
    padding: 10px 5px;
}

.castText {
    padding: 0 5px 15px;
    font-size: 18px;
}

.error {
    padding: 20px;
    font-size: 22px;
}

.loader {
    height: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}